@media print {
    body {
        width: 100%;
        margin: 0;
        color: black !important;
        background-color: white !important;
    }
    .container {
        width: 100% !important; 

    }
    .print-title{
        display: block !important;
        color: black !important;
        padding: 0 !important;
    }

    .print-area {
        display: block !important;
        color: black !important;
        width: 500px;
        padding: 0 !important;

    }

    .MuiAlert-message {
        color: black !important;
    }

    .print-page {
        page-break-before: always;
    }

    .page-break {
        display: none;
    }

    .no-print {
        display: none !important;
    }
}