@media screen {
  .only-print {
    display: none;
  }
}

@media print {

  .print-container {
    display: block;
  }

  .print-container section {
    page-break-inside: avoid;
  }

  button {
    display: none;
  }

  @page {
    size: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  @page {
    @bottom-center {
      /* content: "Хуудас " counter(page) " / " counter(pages); */
      content: "Хуудас " counter(page);
      margin-bottom: 20px;
    }
  }
  
}
