@tailwind base;
@tailwind components;
@tailwind utilities;

.button-19 {
  @apply appearance-none bg-customBlue border-0 border-b-2 border-transparent rounded-lg box-border text-white cursor-pointer inline-block font-sans font-semibold tracking-wider leading-5 outline-none overflow-visible py-3 px-4 text-center uppercase transition duration-200 ease-in-out transform;
}

.button-19:hover:not(:disabled) {
  @apply bg-customYellow;
}

.button-19:disabled {
  @apply cursor-not-allowed opacity-50;
}

.button-19:active {
  @apply bg-customDisable border-t-4 border-b-0;
}

.modal {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 900px;
  height: 800px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 20px;
  max-width: 500px;
  width: 80%;
  height: auto;
  display: flex;
  border-radius: 40px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content, .second-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  text-align: center;
}

.second-content {
  max-width: 70%;
  max-height: 70%;
  background-image: url('https://cdn2.vectorstock.com/i/1000x1000/40/36/cute-robot-broken-error-modern-artificial-vector-15534036.jpg');
  border-radius: 40px;
  background-size: 220px;

}

.modal-error {
  border: 1px solid red;
}

.modal-success {
  border: 1px solid green;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.action-table {
  width: 100%;
  border-collapse: collapse;
}

.action-table th,
.action-table td {
  border: 1px solid #ddd;
  padding: 8px;
}